<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LumiaImagingSDK" version="2.0.208" targetFramework="wpa81" />
  <package id="MvvmCross" version="4.2.2" targetFramework="wpa81" />
  <package id="MvvmCross.Binding" version="4.2.2" targetFramework="wpa81" />
  <package id="MvvmCross.Core" version="4.2.2" targetFramework="wpa81" />
  <package id="MvvmCross.Platform" version="4.2.2" targetFramework="wpa81" />
  <package id="MvvmCross.Plugin.SQLitePCL" version="4.2.2" targetFramework="wpa81" />
  <package id="MvvmCross.StarterPack" version="4.2.2" targetFramework="wpa81" />
  <package id="SQLite.Net.Async-PCL" version="3.1.1" targetFramework="wpa81" />
  <package id="SQLite.Net.Core-PCL" version="3.1.1" targetFramework="wpa81" />
  <package id="SQLite.Net-PCL" version="3.1.1" targetFramework="wpa81" />
  <package id="ZXing.Net" version="0.14.0.1" targetFramework="wpa81" />
</packages>